<header id="header">
    <div class="container">
        <div class="header__logo-container">
            <%= link_to root_path do %>
                <h1>logo</h1>
            <% end %>
        </div>
        <i class="ti-menu"></i>
        <nav>
            <a href="">food</a>
            <a href="">about us</a>
            <a href="">waitlist</a>
            <a href="">offers</a>
        </nav>
    </div>
</header>