<div id="<%= dom_id page %>">
  <p>
    <%= link_to page.item_title, page %>
  </p>

  <p>
    <strong>Item description:</strong>
    <%= page.item_description %>
  </p>

  <p>
    <strong>Item image:</strong>
    <%= page.item_image %>
  </p>

</div>
