<div id="<%= dom_id page %>">
  <p>
    <strong>Item title:</strong>
    <%= page.item_title %>
  </p>

  <p>
    <strong>Item description:</strong>
    <%= page.item_description %>
  </p>

  <p>
    <strong>Item image:</strong>
    <%= page.item_image %>
  </p>

</div>
