<section class="container">
    <div id="menu">
        <div class="menu__about-grid">
            <div class="menu__text-column">
                <h1 class="menu__heading-sans">about us</h1>
                <p class="menu__text">
                    Selvage heirloom dreamcatcher craft beer poke. Literally pabst solarpunk, bushwick poke yucciekickstarter truffaut roof party sartorial fingerstache pork belly. Synth helvetica mumblecorepolaroid lumbersexual tumeric four loko paleo PBR&B banjo cronut kitsch echo park art partyBrooklyn. Blog cupping glossier everyday carry, vice DSA etsy green juice master cleanse hammock.Edison bulb biodiesel vice Brooklyn PBR&B tousled, neutral milk hotel crucifix microdosinggentrify jean shorts.
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eveniet quos culpa dolorum accusantium molestias facilis laborum sed, repellat est maiores cum. Ipsam, eum sint! Ratione quis sunt blanditiis qui magni.
                </p>
            </div>
            <div class="menu__image-column">
                <%= image_tag "pexels-helena-lopes-1015568" %>
            </div>
        </div>
    </div>
</section>