<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <div class="menu">
        <p class="menu__success-notice"><%= notice %></p>

        <h1 class="menu__heading">Dinner Menu</h1>

        <div id="menu__items">
          <% @pages.each do |page| %>
            <%= render page %>
          <% end %>
        </div>

        <%= link_to "Add item", new_page_path, class: "menu__add-item-btn" %>
      </div>
    </div>
  </div>
</div>
  
