<section class="container">
  <div class="row">
    <div class="col-sm-12">
      <div id="menu">
        <h1 class="menu__heading">New item</h1>

        <%= render "form", page: @page %>

        <br>

        <div>
          <%= link_to "Back to pages", pages_path, class: "menu__previous-page" %>
        </div>
      </div>
    </div>
  </div>
</section>
