<div id="<%= dom_id menu_category %>">
  <p>
    <strong>Title:</strong>
    <%= menu_category.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= menu_category.description %>
  </p>

</div>
