<h1>Editing menu category</h1>

<%= render "form", admin_menu_category: @admin_menu_category %>

<br>

<div>
  <%= link_to "Show this menu category", @admin_menu_category %> |
  <%= link_to "Back to menu categories", admin_menu_categories_path %>
</div>
