
<div class="dashboard-wrapper">
  <div class="container-fluid  dashboard-content">
      <!-- ============================================================== -->
      <!-- pageheader -->
      <!-- ============================================================== -->
      <div class="row">
          <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
              <div class="page-header">
                  <h2 class="pageheader-title">General Tables </h2>
                  <p class="pageheader-text">Proin placerat ante duiullam scelerisque a velit ac porta, fusce sit amet vestibulum mi. Morbi lobortis pulvinar quam.</p>
                  <div class="page-breadcrumb">
                      <nav aria-label="breadcrumb">
                          <ol class="breadcrumb">
                              <li class="breadcrumb-item"><a href="#" class="breadcrumb-link">Dashboard</a></li>
                              <li class="breadcrumb-item"><a href="#" class="breadcrumb-link">Tables</a></li>
                              <li class="breadcrumb-item active" aria-current="page">General Tables</li>
                          </ol>
                      </nav>
                  </div>
              </div>
          </div>
      </div>
      <!-- ============================================================== -->
      <!-- end pageheader -->
      <!-- ============================================================== -->
               
      <div class="row">
          <!-- ============================================================== -->
          <!-- responsive table -->
          <!-- ============================================================== -->
          <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
              <div class="card">
                  <h5 class="card-header">Responsive Table</h5>
                  <div class="card-body">
                      <div class="table-responsive ">
                          <table class="table">
                              <thead>
                                  <tr>
                                      <th scope="col">#</th>
                                      <th scope="col">First</th>
                                      <th scope="col">Last</th>
                                      <th scope="col">Handle</th>
                                  </tr>
                              </thead>
                              <tbody>
                                  <tr>
                                      <th scope="row">1</th>
                                      <td>Mark</td>
                                      <td>Otto</td>
                                      <td>@mdo</td>
                                  </tr>
                                  <tr>
                                      <th scope="row">2</th>
                                      <td>Jacob</td>
                                      <td>Thornton</td>
                                      <td>@fat</td>
                                  </tr>
                                  <tr>
                                      <th scope="row">3</th>
                                      <td colspan="2">Larry the Bird</td>
                                      <td>@twitter</td>
                                  </tr>
                              </tbody>
                          </table>
                      </div>
                  </div>
              </div>
          </div>
          <!-- ============================================================== -->
          <!-- end responsive table -->
          <!-- ============================================================== -->
      </div>       
  </div>
</div>

<div id="admin_menu_categories">
  <% @admin_menu_categories.each do |admin_menu_category| %>
    <%= render admin_menu_category %>
    <p>
      <%= link_to "Show this menu category", admin_menu_category %>
    </p>
    <p>
      <%= link_to "Destroy this menu category", admin_menu_category, method: :delete %>
    </p>
  <% end %>
</div>
<%= link_to "New menu category", new_admin_menu_category_path %>
