// This applies from 0px to 768
#menu {
    background: var(--blanco);
    padding: 20px;
    margin: 160px 0 60px 0;
    
    .menu__about-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1.25rem;
        width: 100%;

        .menu__heading-sans {
            font-size: 1.8rem;
        }

        .menu__text-column {
            max-width: 600px;            
        }
        
        .menu__image-column {
            img {
                max-width: 600px;
                width: 100%;
            }
        }
    }
}
  
// This applies from 768px onwards
@media (min-width: 768px) {
   #menu {
    .menu__items {
        grid-template-columns: 1fr 1fr;
        gap: 1.50rem;
    }
   }
}
// Large devices (desktops, 992px and up)
@media (min-width: 992px) {}
  
// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {}