// This applies from 0px to 768
#footer {
    .footer__top {
        background-image: var(--fire-house);
        padding: 30px 0;
        text-align: center;
        .footer__header {
            color: var(--blanco);
            text-transform: uppercase;
            font-size: clamp(1rem, 4vw, 1.4rem);
            font-weight: 700;
            margin: 0 0 22px 0;
        }

        .footer__sub-heading {
            color: var(--blanco);
            margin: 0 0 24px 0;
        }

        form {
            display: grid;
            grid-template-columns: 1fr;
            gap: 0.5rem;
            margin: 20px auto;
            .form-control {
                label {
                    display: block;
                }
                input {
                    width: 100%;
                }
                input[type=text] {
                    padding: 10px 20px;
                    border: 1px solid var(--space-grey);
                    box-sizing: border-box;
                }

                input[type=submit] {
                    width: 100%;
                    background-color: var(--fito-red);

                    color: white;
                    padding: 14px 20px;
                    margin: 8px 0;
                    border: none;
                    font-size: 1rem;
                    text-transform: uppercase;
                    font-weight: 700;
                    border-radius: 4px;
                    cursor: pointer;
                }
            }

            .form-control__checkbox {
                display: grid;
                grid-template-columns: 1fr 15fr;
            }

            .checkbox-label {
                color: var(--blanco);
                font-size: 0.9rem;
            }
        }
    }
    
    .footer__bottom {
        background-color: var(--negro);
        color: var(--text-grey);
        padding: 20px 0;
        text-align: center;
        .footer__logo-container {
            margin-bottom: 24px;
            a {
                color: var(--text-grey);
                text-decoration: none;
                font-size: 1.5rem;
                text-transform: capitalize;
            }
        }
        nav {
            margin-bottom: 2rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            a {
                color: var(--text-grey);
                text-decoration: none;
                font-size: 0.9rem;
                text-transform: uppercase;
                margin: 10px 0;
            }
        }
        .footer__social-media {
            display: flex;
            justify-content: center;
            margin-bottom: 20px;
            i {
                margin: 0 14px;
                font-size: 1.8rem;
                transition: color 0.5s ease-in-out;
                &:hover {
                    color: var(--fito-red);
                }
            }
        }
    }
}
  
// This applies from 768px onwards
@media (min-width: 768px) {
    #footer {
        .footer__top {
            form {
                grid-template-columns: 1fr 1fr;
                width: 375px;
                margin: 20px auto;
                .form-control {
                    display: grid;
                }

                .form-control__checkbox {
                    display: grid;
                    grid-template-columns: 1fr 15fr;
                }

                .form-control--full-width {
                    grid-column: 1 / -1;
                }

                .checkbox-label {
                    color: var(--blanco);
                }
            }
        }
        .footer__bottom {
            nav {
                margin: 2rem auto;
                width: 100%;
                display: flex;
                flex-direction: row;
                a {
                    color: var(--text-grey);
                    text-decoration: none;
                    font-size: 0.9rem;
                    font-weight: 700;
                    text-transform: uppercase;
                    margin: 0 10px;
                    transition: all 0.5s ease-in-out;
                    &:hover {
                        color: var(--fito-red);
                    }
                }
            }

            .footer__social-media {
                display: flex;
                justify-content: center;
                margin-bottom: 20px;
                i {
                    margin: 0 14px;
                    font-size: 1.8rem;
                    transition: color 0.5s ease-in-out;
                    &:hover {
                        color: var(--fito-red);
                    }
                }
            }

            .copyright {
                font-size: 0.9rem;
                .footer__parent-link {
                    cursor: pointer;
                    transition: color 0.5s ease-in-out;
                    &:hover {
                        color: var(--fito-red);
                    }
                }
            }
        }
    }
}
// Large devices (desktops, 992px and up)
@media (min-width: 992px) { }
  
// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { }