// This applies from 0px to 768px
.foodpreview {
    position: relative;
    background-color: #f4f8fb;
    padding: 20px 0;
    .foodpreview__flex {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 30px 0 30px 0;
        h2 {
            font-size: 1.4rem;
            font-weight: 700;
            margin-bottom: 20px;
            text-align: center;
        }

        .foodpreview__button-rounded {
            background-color: var(--fito-red);
            color: var(--blanco);
            display: inline-block;
            padding: 20px;
            border-radius: 30px;
            text-transform: capitalize;
            margin-bottom: 40px;
            cursor: pointer;
        }

        .foodpreview__food-slider {
            width: 100%;
            display: grid;
            gap: 1rem;
            grid-template-columns: repeat(1, 1fr);
            z-index: 1;
            .foodpreview__slide {
                width: 100%;
                position: relative;
                height: 500px;
                .foodpreview__background--hover-efx {
                    background: var(--blanco);
                    height: 100%;
                    width: 100%;
                    z-index: 1;
                    top: 0;
                    bottom: 0;
                    position: absolute;
                    transition: all .3s ease-in-out;
                }
                .foodpreview__content {
                    position: absolute;
                    z-index: 2;
                    padding: 20px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    transition: all .3s ease-in-out;
                    .foodpreview__food-title {
                        font-size: 1.5rem;
                        text-transform: capitalize;
                        margin-bottom: 3rem;
                        a {
                            color: var(--fito-red);
                            font-weight: 900;
                            text-decoration: none;
                            transition: all 0.5s ease-in-out;
                        }
                    }
                    .foodpreview__description {
                        font-size: 0.9rem;
                        font-weight: 400;
                        margin-bottom: 3rem;
                        line-height: 1.6;
                        color: var(--space-grey);
                    }
                }
                img {
                    max-width: 275px;
                }
            }
        }
    }
}


// This applies from 768px onwards
@media (min-width: 768px) {
    .foodpreview {
        .foodpreview__flex {
            padding: 40px 0 40px 0;
            h2 {
                font-size: 2.4rem;
            }
            .foodpreview__food-slider {
                width: 100%;
                display: grid;
                gap: 1rem;
                grid-template-columns: repeat(3, 1fr);
                z-index: 1;
                margin: 100px 0 100px 0;
                .foodpreview__slide {
                    width: 100%;
                    position: relative;
                    height: 500px;
                    &:hover {
                        .foodpreview__background--hover-efx {
                            background: var(--burger-orange);
                            transform: translate3d(0, -100px, 0);
                                }
                        .foodpreview__content {
                            .foodpreview__food-title {
                                a {
                                    color: var(--blanco);
                                }
                            }
                            .foodpreview__description {
                                color: var(--blanco);
                            }
                        }
                    }
                    .foodpreview__background--hover-efx {
                        background: var(--blanco);
                        height: 100%;
                        width: 100%;
                        z-index: 1;
                        top: 0;
                        bottom: 0;
                        position: absolute;
                        transition: all .3s ease-in-out;
                    }
                    .foodpreview__content {
                        position: absolute;
                        z-index: 2;
                        padding: 20px;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        transition: all .3s ease-in-out;
                        .foodpreview__food-title {
                            font-size: 1.5rem;
                            text-transform: capitalize;
                            font-weight: 900;
                            margin-bottom: 3rem;
                            color: var(--fito-red);
                        }
                        .foodpreview__description {
                            font-size: 0.9rem;
                            font-weight: 400;
                            margin-bottom: 3rem;
                            line-height: 1.6;
                            color: var(--space-grey);
                        }
                    }
                    img {
                        max-width: 275px;
                    }
                }
            }
        }
    }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { }
  
// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { }