// This applies from 0px to 768
#header {
    background-color: var(--fito-red);
    padding: 20px 0;
    .header__logo-container {
        a {
            color: var(--blanco);
            text-decoration: none;
        }
    }
    
    .ti-menu {
        color: var(--blanco);
    }
    
    nav {
        display: none;
    }
}
  
// This applies from 768px onwards
@media (min-width: 768px) {
    #header {
        background: var(--fito-red);
        padding-top: 30px;
        min-height: 70px;
        .ti-menu {
            display: none;
        }
        nav {
            display: block;
        }
    }
}
// Large devices (desktops, 992px and up)
@media (min-width: 992px) { }
  
// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { }