// This applies from 0px to 768
#menu {
    background: var(--blanco);
    padding: 20px;
    margin: 160px 0 60px 0;
    .menu__success-notice {
        font-size: 1.1rem;
        color: var(--verde);
        transition: all 0.5s ease-in-out;
        margin-bottom: 20px;
    }

    .menu__heading {
        font-size: clamp(1.6rem, 4vw, 2.6rem);
        font-family: var(--dm-serif-display);
        text-transform: capitalize;
        text-align: center;
        margin: 0 0 30px 0;
    }

    .menu__items {
        display: grid;
        grid-template-columns: 1fr;
        gap: 1.1rem;
        margin-bottom: 5rem;
    }

    .menu__item-title {
        font-size: 1rem;
        font-family: var(--dm-sans);
        text-align: center;
        margin-bottom: 8px;
        a {
            color: var(--negro);
            text-transform: uppercase;
            font-weight: 600;
            text-decoration: none;
            transition: all 0.5s ease-in-out;
            &:hover {
                color: var(--fito-red);
            }
        }
    }

    .menu__item-description {
        font-weight: 400;
        font-family: var(--dm-serif-display);
        text-align: center;
        font-size: clamp(1rem, 4vw, 1.1rem);;
        color: var(--text-grey);
    }

    .menu__disclaimer {
        color: var(--text-grey);
    }
}
  
// This applies from 768px onwards
@media (min-width: 768px) {
   #menu {
    .menu__items {
        grid-template-columns: 1fr 1fr;
        gap: 1.50rem;
    }
   }
}
// Large devices (desktops, 992px and up)
@media (min-width: 992px) {}
  
// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {}