// This applies from 0px to 768
#menu {
    background: var(--blanco);
    padding: 20px;
    margin: 160px 0 60px 0;
    
    .menu__heading-sans {
        font-size: 1.8rem;
        text-transform: uppercase;
        margin-bottom: 1.2rem;
        font-weight: 700;
    }

    .menu__subheading {
        line-height: 1.5;
    }

    .menu__promotions-grid {
        display: grid;
        grid-template-columns: 1fr;
        gap: 1.25rem;
        margin-top: 2rem;

        .card {
            border: 1px solid var(--negro);
            .card__top {
                a {
                    img {
                        max-width: 600px;
                        width: 100%;
                    }
                }
            }

            .card__bottom {
                padding: 20px;

                .card__title {
                    font-size: 1.4rem;
                    text-transform: uppercase;
                    color: var(--fito-red);
                    font-weight: 700;
                    cursor: pointer;
                }

                .card__description {
                    line-height: 1.5;
                    margin-bottom: 1.2rem;
                }
            }

        }
    }
    // .menu__about-grid {
    //     display: grid;
    //     grid-template-columns: 1fr;
    //     gap: 1.25rem;
    //     width: 100%;

    //     .menu__heading-sans {
    //         font-size: 1.8rem;
    //         text-transform: uppercase;
    //         margin-bottom: 1.2rem;
    //         font-weight: 700;
    //     }

    //     .menu__text-column {
    //         max-width: 600px;
            
    //         .menu__text {
    //             line-height: 1.5;
    //         }
    //     }
        
    //     .menu__image-column {
    //         img {
    //             max-width: 600px;
    //             width: 100%;
    //         }
    //     }
    // }
}
  
// This applies from 768px onwards
@media (min-width: 768px) {
   #menu {
    .menu__promotions-grid {
        grid-template-columns: 1fr 1fr;
    }
   }
}
// Large devices (desktops, 992px and up)
@media (min-width: 992px) {}
  
// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {}