<div id="<%= dom_id menu_item %>">
  <p>
    <strong>Title:</strong>
    <%= menu_item.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= menu_item.description %>
  </p>

  <p>
    <strong>Image:</strong>
    <%= menu_item.image %>
  </p>

</div>
